/*Background Color*/
body {
    background-color: #1453f5;
    font-family: 'Times New Roman', Times, serif;
}

/*White Box in the center of the screen for better visibility*/
#MainSpace {
    background-color: #fff;
    align-self: center;
    width: 75%;
    height: 100%; /*Verify height afterwards, change to 100% if better*/
    margin-left: 12.5%;
    margin-top: 0%;
    padding: 5px;
    text-align: center;
    font-size: 125%;
}

/*Header*/
header{
    text-align: center;
    font-size: 125%;
    background-color: rgb(227, 241, 245); 
    margin-top: 0;
    padding: 10px;    
}

/*Navigation*/
ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    line-height: 25px;
}

/*Images*/
img {
    width: 35%;
    height: 35%;
}

/*Titles*/
.Title {
    background-color: lightcyan;
}

/*Subtitle*/
.Subtitle {
    background-color: violet;
    margin-left: 15%;
    margin-right: 15%;
}
